@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600;700;800&display=swap");

body {
  background-color: #17171f;
  font-family: "JetBrains Mono", monospace;
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.navlink li .active {
  @apply text-indigo-300 transition-all duration-300;
}

/* ----------------------------------------------- */
/* NAVBAR */
/* ----------------------------------------------- */
.navbarBox {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 100000;
}

.navbar {
  /* position: absolute; */
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex; */
  /* justify-content: space-between; */
  height: 64px;
  width: 100%;
  margin: auto;
  color: #000;
  font-weight: bold;
  align-items: center;
  text-decoration: none;
  font-family: "JetBrains Mono", monospace;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar img {
  width: 60px;
  height: 30px;
  margin-right: 100px;
  margin-top: 10px;
}

.navbar h3 {
  color: white;
}

.social {
  cursor: pointer;
}

.navlink li {
  display: inline-block;
}

.navlink li .active button {
  color: #fff;
  background: #000;
}

.navbar-btn {
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  font-size: large;
  padding: 6px 20px;
  background-color: rgb(0, 166, 255);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.navbar-btn:hover {
  background-color: #000;
  color: #fff;
}

.hamburger {
  display: none;
  cursor: pointer;
  list-style: none;
}

.hamburger li:nth-child(2) {
  width: 23px;
}

.hamburger li:nth-child(3) {
  width: 15px;
}

/* ----------------------------------------------- */
/* MOBILE HAMBURGER MENU */
/* ----------------------------------------------- */
@media only screen and (max-width: 1023px) {
  .listContainer {
    display: flex;
  }

  .navbar .navlink li {
    margin: 0 0 0 48px;
  }
  .navbar h3 {
    color: white;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 880px) {
  .navbar {
    height: 64px;
  }

  .navbar .navlink li {
    display: none;
    margin: 0 0 0 0;
  }

  .listContainer {
    display: block;
  }

  .link-container {
    display: flex !important;
    position: fixed;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    top: 0;
    right: 0;
    height: 0;
    opacity: 0;
    width: 100%;
    transition: 0.5s;
  }

  .link-container .navlink {
    align-items: center;
    display: block;
    justify-content: center;
  }

  .navbar.active .link-container {
    height: 100vh;
    opacity: 1;
  }

  .hamburger {
    display: block;
    right: 24px;
    top: 0px;
    height: 64px;
    align-items: center;
    position: absolute;
    cursor: pointer;
    display: flex;
    transition: 0.5s;
  }

  .line {
    width: 30px;
    height: 3px;
    margin: 6px;
    background: white;
    -webkit-transition: 1s;
    transition: 1s;
  }

  .navbar.active {
    display: block;
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    height: 100vh;
  }

  .navbar.active .logo {
    display: none;
  }

  .navbar.active .listContainer .navlink li {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5vh;
    font-size: 1.5em;
  }

  .hamburger.active {
    transform: translateY(10px);
  }

  .hamburger.active li:nth-child(1) {
    -webkit-transform: rotate(405deg) translate(14px);
    transform: rotate(405deg) translate(14px);
    height: 5px;
    width: 50px;
    background-color: #818181;
    border-radius: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .hamburger.active li:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .hamburger.active li:nth-child(3) {
    -webkit-transform: rotate(-405deg) translate(14px);
    transform: rotate(-405deg) translate(14px);
    height: 5px;
    width: 50px;
    background-color: #818181;
    border-radius: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

/* ----------------------------------------------- */
/* HOME BACKGROUND */
/* ----------------------------------------------- */
#background {
  background-image: url("../assets/img/background.png");
  background-position-y: -30vh;
}

#tablet-background {
  background-image: url("../assets/img/background2.png");
  background-position-y: -25vh;
}

#mobile-background {
  background-image: url("../assets/img/background3.png");
  background-position-y: -38vh;
}

/* ----------------------------------------------- */
/* ABOUT ME PAGE PROFILE ANIMATION */
/* ----------------------------------------------- */
.profile_img {
  background: url("../assets/img/mymemoji.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgb(255, 255, 255 / 30%);
  justify-self: center;
  order: 1;
  width: 300px;
  height: 300px;
  animation: profile_animate 8s ease-in-out infinite 1s;
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* ----------------------------------------------- */
/* LOADING PAGE ANIMATION */
/* ----------------------------------------------- */
#loading {
  animation: loader_animate 1.25s linear forwards;
}

@keyframes loader_animate {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 100px;
    height: 0;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}
